<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Close button -->
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-text-center ion-padding-top">
      <ion-col size = "3" offset = "4.5" size-md = "2" offset-md = "5" class="ion-text-center">
        <ion-avatar class="ion-no-margin" class="ion-text-center" style="display:inline">
          <ion-img src="assets/WhereIsThePower.png"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()" class="ion-text-center">
          <h3 class="ion-padding-start"><ion-text color="primary">Where Is the Power?</ion-text></h3>

          <ion-item>
            <ion-input
            label = "Email"
            labelPlacement="floating"
            placeholder="Email"
            formControlName = "email"
            ></ion-input>
          </ion-item>

          <ion-item class="ion-padding-top">
            <ion-input
            type = "password"
            label = "Password"
            labelPlacement="floating"
            placeholder="Password"
            formControlName = "password"
            autocomplete="off"
            ></ion-input>
          </ion-item>
          <div class="ion-padding-top">
            <ion-button expand="block" type="submit" class="ion-margin-top ion-margin-start" data-cy="btn-login-confirm">Login</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
