#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.searchbar-container {
  position: absolute;
  top: 8px;
  z-index: 999; // Ensure the search bar is above the map
}

ion-searchbar {
  padding-bottom: 0.6px;
}

ion-list {
  margin-left: 8px;
  margin-right: 8px;
}

h4 {
  margin: 0;
  padding: 0;
}

