.map_box_container {
  position: relative;
  height: 100% !important;
  width: 100% !important;
}

#map {
  height: 100vh;
  width: auto;
}

.searchbar-container {
  position: absolute;
  top: 8px;
  z-index: 999; // Ensure the search bar is above the map
}

ion-searchbar{
  padding-bottom: 0.6px;
}

ion-list {
  margin-left:8px;
  margin-right:8px;
}