<ion-content>
  <ion-row>
    <ion-col class="searchbar-container" size-xs="12" size-md="4" offset-md="7.8">
      <ion-searchbar animated="true" placeholder="Search for a place..." (ionInput)="onSearchInput($event)" (keyup.enter)="onSearchInput($event)" (ionClear)="onSearchBarClear()" #searchBar></ion-searchbar>
      <ion-list *ngIf="searchResults.length > 0 && showResultsList">
        <ion-item *ngFor="let result of searchResults" (click)="getRoute(result)" (click)="openModal(result)" button>
          <ion-label>
            <h3><strong>{{ result.text }}</strong></h3>
            <ion-note>{{ result.place_name }}</ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row id="map"></ion-row>
  <ion-modal #myModal *ngIf="searchResults.length > 0" trigger="open-modal"
    class="ion-hide-md-up"
    [initialBreakpoint]="0.2"
    [breakpoints]="[0, 0.2, 0.5, 0.75]"
    [backdropBreakpoint]="0.5"
    [backdropDismiss]="false"
    >
    <ng-template>
       <!-- Ionic grid to create the row with three items -->
    <ion-row class="ion-text-center ion-padding-top">
      <!-- DISTANCE -->
      <ion-col size="4">
        <ion-icon name="icon-name" size="large" src="assets/car.svg" color="primary"></ion-icon>
        <div><ion-text color="medium"><small>DISTANCE</small></ion-text></div>
        <h4>{{ tripDistance }} km</h4>
      </ion-col>

      <!-- DURATION -->
      <ion-col size="4">
        <ion-icon name="icon-name" size="large" src="assets/timer.svg" color="primary"></ion-icon>
        <div><ion-text color="medium"><small>DURATION</small></ion-text></div>
        <h4>{{ tripDuration }} min</h4>
      </ion-col>

      <!-- ETA -->
      <ion-col size="4">
        <ion-icon name="icon-name" size="large" src="assets/schedule.svg" color="primary"></ion-icon>
        <div><ion-text color="medium"><small>ETA</small></ion-text></div>
        <h4>13:00 pm</h4>
      </ion-col>
    </ion-row>

<ion-button expand="block" class="ion-margin-top" (click)="beginTrip()"style="text-transform: none;">
  <ion-icon slot="start" name="navigate-circle-outline"></ion-icon>
  Begin Trip
</ion-button>
      <ion-content class="ion-padding">
        <ion-item>
          <h3 *ngIf="tripDuration!== 0 || tripDistance!==0; else loadData">
            <ion-text color="primary">{{ tripDuration }} min </ion-text>{{ tripDistance }} km
            <ion-text color="primary"> </ion-text>
          </h3>
          <ion-icon src="assets/cancel.svg" size="large" slot="end" (click)="onSearchBarClear()" icon-only button></ion-icon>
        </ion-item>

        <ng-template #loadData>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ng-template>
        <ion-list *ngIf="instructions.length > 0; else loadInstructions">
          <ion-item *ngFor="let instruction of instructions">
            <ion-icon [src]="getIconForInstruction(instruction)" class="ion-padding-end"></ion-icon>
            <ion-label>
              {{instruction}}
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- Skeleton Text for rendering placeholder content -->
        <ng-template #loadInstructions>
          <ion-list *ngIf="instructions.length <= 0">
            <ion-item>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-item>
            <ion-item>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-item>
            <ion-item>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-item>
            <ion-item>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-item>
            <ion-item>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
