
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!isLoggedIn; else UserLoggedIn">
    <ion-img
    src="assets/TrafficJam.svg"
    alt="Traffic Jam Illustration"
    class="ion-padding"
    >
    </ion-img>

    <ion-list>
      <ion-item detail="true" (click)="showLoginComponent()">
        <ion-icon name="log-in-outline" class="ion-padding-end"></ion-icon>
        <ion-label>Login to my account</ion-label>
      </ion-item>
      <ion-item detail="true" (click)="showSignupComponent()" data-cy="sign-up-button">
        <ion-icon name="person-add-outline" class="ion-padding-end"></ion-icon>
        <ion-label>Sign up for an account</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #UserLoggedIn>
    <ion-row class="ion-padding-top">
      <ion-avatar class="avatar">
        <img [src]="userInitialDataURL" alt="User Initial" />
      </ion-avatar>
    </ion-row>
    <ion-text class="ion-text-center">
      <h1 data-cy="Welcome-text"> Welcome {{user?.firstName}} !</h1>
    </ion-text>
    <ion-list>
      <ion-item>
        <ion-icon name="moon-outline" class="ion-padding-end"></ion-icon>
        <ion-label>Theme</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon name="log-out-outline" class="ion-padding-end"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
