
<ion-tabs >
  <ion-tab-bar slot="bottom"  class="ion-hide-lg-up" *ngIf="!hideBottomTabs">
    <!-- <ion-tab-bar slot="bottom"> -->
    <ion-tab-button tab="tab-navigate" data-cy="tab-navigate">
      <ion-icon aria-hidden="true" name="navigate-circle"></ion-icon>
      <ion-label>Navigate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-saved" data-cy="tab-saved" >
      <ion-icon aria-hidden="true" name="bookmark"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-schedule" data-cy="tab-schedule">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-statistics" data-cy="tab-statistics">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-profile" data-cy="tab-profile">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
