<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-navigate">
      <ion-icon aria-hidden="true" name="navigate-circle"></ion-icon>
      <ion-label>Navigate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-saved">
      <ion-icon aria-hidden="true" name="bookmark"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-schedule">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-statistics">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
