<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="searchbar-container" size-xs="12" size-md="4" offset-md="7.8">
        <ion-searchbar
        [(ngModel)]="searchTerm"
        animated="true"
        placeholder="Search for a place..."
        (ionInput)="onSearch($event)"
        (keyup.enter)="onSearch($event)"
        (ionFocus)="onSearch($event)"
        (ionBlur)="onBlur()"
        >
        </ion-searchbar>
        <ion-list *ngIf="filteredItems.length > 0 && showResultsList" class="search-results">
          <ion-item *ngFor="let result of filteredItems" (click)="selectSuburb(result)" button>
            <ion-label>
              <h3><strong>{{ result.name }}</strong></h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isLocationProvided && isAreaFound; else areaNotAvailable">
      <ion-col size="12" class="ion-text-center"><h2>{{ suburbName }}</h2></ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-chip *ngIf="loadsheddingStage > 0" [color]="chipColor">
          Current Stage: {{ loadsheddingStage }}
        </ion-chip>
        <ion-chip *ngIf="loadsheddingStage <= 0" [color]="chipColor">
          No Loadshedding
        </ion-chip>
      </ion-col>
      <ion-col>     
        <ion-card *ngFor="let time of loadshedTimes">
          <ion-card-header>
            <ion-card-title>
              {{ days[time.startTime.getDay()] }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ time.startTime.getDate() }} {{ months[time.startTime.getMonth()] }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-title>
              {{ formatTime(time.startTime.getHours()) }}:{{ formatTime(time.startTime.getMinutes()) }} - {{ formatTime(time.endTime.getHours()) }}:{{ formatTime(time.endTime.getMinutes()) }}
            </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-template #areaNotAvailable>
      <ion-row>
        <ion-col size="8" offset="2" size-md="6" offset-md="3" size-xl="4" offset-xl="4">
          <ion-img
              src="assets/phoneStats.svg"
              alt="Address on phone Illustration"
              class="ion-padding"
            >
            </ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="ion-text-center ion-text-md-end">
          </ion-col>
          <ion-col size="12" class="ion-text-center">
            <h3>Search for a suburb inside City of Tshwane.</h3>
          </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>
