<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-padding-vertical">
        <ion-col size="12" class="ion-text-center">
          <ion-text><h2>Loadshedding for Today</h2></ion-text>
        </ion-col>
        <ion-col size="8" offset="2">
          <div class="doughnutChart-container ion-justify-content-center">
            <canvas #doughnutChartRef id="doughnutChart"></canvas>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</ion-content>
