<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saved Places
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="input"
    (ionInput)="updateResults()"

  >
  </ion-searchbar>
  <ion-list *ngFor="let place of places">
    <ion-item>
      <ion-icon slot="start" name="{{ place.type }}"></ion-icon>
      <ion-label>
        <h2>{{ place.name }}, {{ place.feature }}</h2>
        <p *ngIf="place.address != null">
          {{ place.address }}
        </p>
      </ion-label>
      
    </ion-item>

  </ion-list>
</ion-content>
