<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saved Places
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!isLoggedIn; else elseIsloggedIn">
    <ion-row>
      <ion-col size="8" offset="2" size-md="6" offset-md="3" size-xl="4" offset-xl="4">
        <ion-img
            src="assets/phone.svg"
            alt="Address on phone Illustration"
            class="ion-padding"
          >
          </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" size-xl="4" offset-xl="4" class="ion-text-center">
        <h3>Saved places is only available to registered users. </h3>
      </ion-col>
      <ion-col size="12" size-md="6" offset-md="3" size-xl="4" offset-xl="4">
        <ion-button (click)="gotoProfileRoute()" expand="block">Go to Profile</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ng-template #elseIsloggedIn>
    <ion-grid>
      <!-- SEARCH BAR -->
      <ion-row class="justify-content-center">
        <ion-col class="searchbar-container">
          <ion-searchbar animated="true" placeholder="Search for a place..." (ionInput)="onSearchInput($event)" (keyup.enter)="onSearchInput($event)" (ionClear)="onSearchBarClear()" (ionFocus)="onSearchBarFocus()" #searchBar></ion-searchbar>
          <ion-list *ngIf="showResultsList; else elseBlock">
            <ion-item *ngFor="let result of searchResults" (click)="savePlace(result)"  button>
              <ion-icon slot="start" name="{{ getFeatureType(result.place_type[0]) }}"></ion-icon>
              <ion-label>
                <h3><strong>{{ result.text }}</strong></h3>
                <ion-note>{{ result.place_name }}</ion-note>
              </ion-label>
              <!-- TEMP ADD PLACE -->
              <ion-icon name="add-circle" color="primary" size="large"></ion-icon>
              <!-- BOOKMARK -->
              <!-- <div *ngIf="isPlaceSaved(result) === false; else elseBlock"> -->
                <!-- ADD -->
                    <!-- <ion-icon color="success" style="font-size: 24px;" slot="icon-only" name="bookmark-outline"></ion-icon> -->
              <!-- </div> -->
              <!-- <ng-template #elseBlock> -->
                <!-- <div> -->
                  <!-- DELETE -->
                    <!-- <ion-icon slot="icon-only" name="bookmark"></ion-icon> -->
                <!-- </div> -->
              <!-- </ng-template> -->
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <!-- Display saved places -->
      <ng-template #elseBlock>
        <ion-col>
          <ion-row>
            <ion-toolbar class="ion-text-wrap">
              <!-- Saved Places is empty -->
              <ion-title *ngIf="places?.length === 0">
                You have no saved places
              </ion-title>
              <!-- Show Saved places -->
              <ion-list *ngFor="let savedPlace of places">
                <ion-item>
                  <!-- <ion-icon slot="start" name="{{ savedPlace.type }}"></ion-icon> -->
                  <ion-label class="ion-text-wrap">
                    <h2>{{ savedPlace.name }}, {{ savedPlace.address }}</h2>
                  </ion-label>
                  <div>
                    <!-- DELETE -->
                    <ion-button
                      color="success"
                      fill="clear"
                      (click)="removeSavedPlace(savedPlace)">
                      <ion-icon slot="icon-only" name="bookmark"></ion-icon>
                    </ion-button>
                  </div>
                </ion-item>
              </ion-list>
            </ion-toolbar>
          </ion-row>
          <!-- <ion-row class="ion-hide-lg-down">
            <app-map-modal></app-map-modal>
          </ion-row> -->
        </ion-col>
      </ng-template>
    </ion-grid>
  </ng-template>
</ion-content>


